## Load Data

In [0]:
# load libraries
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

import seaborn as sns
import matplotlib.pyplot as plt
sns.set(style="ticks", color_codes=True)

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
# local urls
uom_space_url = '../project-data/uom-space.xlsx'
rm_category_type_url = '../project-data/rm-category-type-cleaned.xlsx'
em_location_url = '../project-data/em-location.xlsx'
av_equipment_url = '../project-data/av-equipment.xlsx'
timetable_2020_url = '../project-data/2020-timetable-v2.xlsx'
floor_name_url = '../project-data/fl-name-cleaned.xlsx'
meeting_room_usage_url = '../project-data/meeting-room-usage.xlsx'

# drive urls
uom_space_url = '/content/drive/My Drive/Mission Data Science [2019-2020]/Semester 3/MAST90106/MAST90106/project-data/uom-space.xlsx'
rm_category_type_url = '/content/drive/My Drive/Mission Data Science [2019-2020]/Semester 3/MAST90106/MAST90106/project-data/rm-category-type-cleaned.xlsx'
em_location_url = '/content/drive/My Drive/Mission Data Science [2019-2020]/Semester 3/MAST90106/MAST90106/project-data/em-location.xlsx'
av_equipment_url = '/content/drive/My Drive/Mission Data Science [2019-2020]/Semester 3/MAST90106/MAST90106/project-data/av-equipment.xlsx'
timetable_2020_url = '/content/drive/My Drive/Mission Data Science [2019-2020]/Semester 3/MAST90106/MAST90106/project-data/2020-timetable-v2.xlsx'
floor_name_url = '/content/drive/My Drive/Mission Data Science [2019-2020]/Semester 3/MAST90106/MAST90106/project-data/fl-name-cleaned.xlsx'
meeting_room_usage_url = '/content/drive/My Drive/Mission Data Science [2019-2020]/Semester 3/MAST90106/MAST90106/project-data/meeting-room-usage.xlsx'

In [0]:
uom_space_df = pd.read_excel(uom_space_url)

In [0]:
rm_category_type_df = pd.read_excel(rm_category_type_url)

In [0]:
em_location_df = pd.read_excel(em_location_url)

In [0]:
av_equipment_df = pd.read_excel(av_equipment_url)

In [0]:
timetable_df = pd.read_excel(timetable_2020_url, delim_whitespace=True)

In [0]:
floor_df = pd.read_excel(floor_name_url)

In [0]:
meeting_room_usage_df = pd.read_excel(meeting_room_usage_url)

In [11]:
# data shapes
print("UOM space shape:"+str(uom_space_df.shape))
print("RM category:"+str(rm_category_type_df.shape))
print("EM location:"+str(em_location_df.shape))
print("AV equipment:"+str(av_equipment_df.shape))
print("2020 timetable:"+str(timetable_df.shape))
print("Floor data shape:"+str(floor_df.shape))
print("Meeting room usage shape:"+str(meeting_room_usage_df.shape))

UOM space shape:(22166, 14)
RM category:(209, 5)
EM location:(7709, 4)
AV equipment:(1964, 11)
2020 timetable:(131857, 23)
Floor data shape:(1369, 3)
Meeting room usage shape:(1462, 22)

## Clean + Mutate Data

In [0]:
# clean uom-space
uom_space_df['Campus Code']=uom_space_df['Campus Code'].astype(str).str.strip()
uom_space_df['Building Code']=uom_space_df['Building Code'].astype(str).str.strip()
uom_space_df['Building Name']=uom_space_df['Building Name'].astype(str).str.strip()
uom_space_df['Room Type']=uom_space_df['Room Type'].astype(str).str.strip()
uom_space_df['Room Category']=uom_space_df['Room Category'].astype(str).str.strip()
uom_space_df['Floor Code']=uom_space_df['Floor Code'].astype(str).str.strip()
uom_space_df['Room Code']=uom_space_df['Room Code'].astype(str).str.strip()

In [13]:
uom_space_df.describe()

       Room Capacity  Room Area m²
count   20412.000000  22166.000000
mean        4.062708     30.705665
std        17.259225    118.307023
min         0.000000      0.220000
25%         0.000000      7.810000
50%         0.000000     13.390000
75%         2.000000     25.230000
max       599.000000   5696.900000

In [0]:
# clean rm-category-type
rm_category_type_df['Room Type']=rm_category_type_df['Room Type'].astype(str).str.strip()
rm_category_type_df['Room Category']=rm_category_type_df['Room Category'].astype(str).str.strip()
rm_category_type_df['Room Type Abbreviation']=rm_category_type_df['Room Type Abbreviation'].str.lower().str.strip()
rm_category_type_df['Description']=rm_category_type_df['Description'].str.lower().str.strip()
rm_category_type_df['Room Type Definition']=rm_category_type_df['Room Type Definition'].str.lower().str.strip()

In [0]:
# clean floor-data
floor_df['Building Code'] = floor_df['Building Code'].astype(str).str.strip()
floor_df['Floor Code'] = floor_df['Floor Code'].astype(str).str.strip()
floor_df['Floor Name'] = floor_df['Floor Name'].astype(str).str.strip()

In [0]:
# clean em-location
em_location_df['Floor Code'] = em_location_df['Floor Code'].astype(int)
em_location_df['Floor Code'] = em_location_df['Floor Code'].astype(str).str.strip()

# clean room codes
for idx,row in em_location_df.iterrows():
    if "." in row['Room Code']:
        code = row['Room Code'].split(".")[0]
        em_location_df.at[idx,'Room Code'] = code

In [0]:
# clean av-equipment
av_equipment_df['Room Type'] = av_equipment_df['Room Type'].astype(str).str.strip()
av_equipment_df['Room Code'] = av_equipment_df['Room Code'].astype(str).str.strip()
av_equipment_df['Building Code'] = av_equipment_df['Building Code'].astype(str).str.strip()
av_equipment_df['Campus Code'] = av_equipment_df['Campus Code'].astype(str).str.strip()
av_equipment_df['Equip. Status'] = av_equipment_df['Equip. Status'].astype(str).str.strip()
av_equipment_df['Floor Code'] = av_equipment_df['Floor Code'].astype(int).astype(str).str.strip()

In [0]:
# clean timetable-df

# remove all NaN rows
timetable_df = timetable_df.dropna(how='all')

# drop duplicate records
timetable_df = timetable_df.drop_duplicates()

# dropping classes whose location is not planned
timetable_df = timetable_df[timetable_df['Host Key of Allocated Locations'].notna()]

# dropping classes whose location is online option
timetable_df = timetable_df[timetable_df['Host Key of Allocated Locations']!='Online option.']

# dropping classes with off-site location
timetable_df = timetable_df[timetable_df['Name of Zone of Allocated Locations']!='Off-Site']

In [19]:
timetable_df.describe()

       Host Key of Department  ...  Teaching week pattern as number of weeks
count           119419.000000  ...                             119419.000000
mean               411.698884  ...                                 11.446051
std                207.371644  ...                                  2.831630
min                 39.000000  ...                                  1.000000
25%                259.000000  ...                                 12.000000
50%                418.000000  ...                                 12.000000
75%                620.000000  ...                                 12.000000
max                762.000000  ...                                 24.000000

[8 rows x 7 columns]

In [0]:
# mutate timetable data
building_codes = []
room_codes = []
campus_codes = []
class_duration_minutes = []
for idx,row in timetable_df.iterrows():
    s = row['Host Key of Allocated Locations'].split('-')
    building_codes.append(s[0])
    room_codes.append(s[1])
    c = row['Name of Allocated Locations'].split('-')[0]
    if c == 'zzzPAR':
        c = 'PAR'
    campus_codes.append(c)
    d = row['Duration as duration']
    class_duration_minutes.append(d.hour * 60 + d.minute)
timetable_df['Building Code'] = building_codes
timetable_df['Room Code'] = room_codes
timetable_df['Campus Code'] = campus_codes
timetable_df['Class Duration In Minutes'] = class_duration_minutes

In [0]:
# meeting room usage cleanup
meeting_room_usage_df = meeting_room_usage_df[meeting_room_usage_df['Campus Code'].notna()]
meeting_room_usage_df = meeting_room_usage_df[meeting_room_usage_df['Building Code'].notna()]
meeting_room_usage_df = meeting_room_usage_df[meeting_room_usage_df['Floor Code'].notna()]
meeting_room_usage_df = meeting_room_usage_df[meeting_room_usage_df['Room Code'].notna()]

meeting_room_usage_df['Campus Code'] = meeting_room_usage_df['Campus Code'].astype(str).str.strip()
meeting_room_usage_df['Building Code'] = meeting_room_usage_df['Building Code'].astype(str).str.strip()
meeting_room_usage_df['Building Name'] = meeting_room_usage_df['Building Name'].astype(str).str.strip()
meeting_room_usage_df['Floor Code'] = meeting_room_usage_df['Floor Code'].astype(int).astype(str).str.strip()
meeting_room_usage_df['Room Code'] = meeting_room_usage_df['Room Code'].astype(str).str.strip()

In [22]:
meeting_room_usage_df.shape

(890, 22)

In [23]:
stats_em_location = {
    'Stats':['Campus Code','Building Code','Floor Code','Room Code'],
    'Count':[
             len(meeting_room_usage_df.groupby('Campus Code')),
             len(meeting_room_usage_df.groupby('Building Code')),
             len(meeting_room_usage_df.groupby('Floor Code')),
             len(meeting_room_usage_df.groupby('Room Code'))
    ]
}
stats = pd.DataFrame(data=stats_em_location)
stats

           Stats  Count
0    Campus Code      8
1  Building Code    125
2     Floor Code     13
3      Room Code    511

In [24]:
meeting_room_usage_df.describe()

       RoomName     Meetings      Duration  ...      PMperc    RecTotal     RecPerc
count       0.0   890.000000  8.900000e+02  ...  890.000000  890.000000  890.000000
mean        NaN   241.635955  4.447746e+04  ...   34.378652   76.722472   21.206742
std         NaN   299.368071  1.591167e+05  ...   27.724042  124.669067   27.424833
min         NaN     0.000000  0.000000e+00  ...    0.000000    0.000000    0.000000
25%         NaN     0.000000  0.000000e+00  ...    0.000000    0.000000    0.000000
50%         NaN   105.000000  1.661000e+04  ...   46.000000   17.000000   11.000000
75%         NaN   414.250000  4.545375e+04  ...   56.000000  110.000000   33.000000
max         NaN  1000.000000  3.727650e+06  ...  100.000000  969.000000  100.000000

[8 rows x 14 columns]

## Merge Data

In [25]:
# Merge - uom_space + floor_data
uom_space_df_enhanced = pd.merge(uom_space_df,floor_df,on=['Building Code','Floor Code'])
print((uom_space_df.shape, uom_space_df_enhanced.shape))
print('Unable to merge records:',uom_space_df.shape[0]-uom_space_df_enhanced.shape[0])

((22166, 14), (22166, 15))
Unable to merge records: 0

In [26]:
# Merge - enhanced_uom_space + rm_category_type
# !! perfect match !!
merged_space_data_df = pd.merge(uom_space_df_enhanced,rm_category_type_df,on=['Room Category','Room Type'])
print((uom_space_df_enhanced.shape, merged_space_data_df.shape))
print('Unable to merge records:',uom_space_df_enhanced.shape[0]-merged_space_data_df.shape[0])

((22166, 15), (22166, 18))
Unable to merge records: 0

In [27]:
# merge - space_data + em_location
merged_em_location_df = pd.merge(em_location_df,merged_space_data_df,on=['Building Code','Floor Code','Room Code'])
print((em_location_df.shape, merged_em_location_df.shape))
print('Unable to merge records:',em_location_df.shape[0]-merged_em_location_df.shape[0])

((7709, 4), (6962, 19))
Unable to merge records: 747

In [28]:
# merge - space_data + av_equipment
merged_av_equipment_df = pd.merge(av_equipment_df,merged_space_data_df,on=['Campus Code','Building Code','Floor Code','Room Code'])
print((av_equipment_df.shape, merged_av_equipment_df.shape))
print('Unable to merge records:',av_equipment_df.shape[0]-merged_av_equipment_df.shape[0])

((1964, 11), (1646, 25))
Unable to merge records: 318

In [29]:
# merge - space_data + timetable_data
merged_timetable_df = pd.merge(timetable_df,merged_space_data_df,on=['Campus Code','Building Code','Room Code'])
print((timetable_df.shape, merged_timetable_df.shape))
print('Unable to merge records:',timetable_df.shape[0]-merged_timetable_df.shape[0])

((119419, 27), (116981, 42))
Unable to merge records: 2438

In [30]:
# merge - space_data + meeting_room_usage
merged_meeting_room_usage_df = pd.merge(meeting_room_usage_df,merged_space_data_df,on=['Campus Code','Building Code','Floor Code','Room Code'])
print((meeting_room_usage_df.shape, merged_meeting_room_usage_df.shape))
print('Unable to merge records:',meeting_room_usage_df.shape[0]-merged_meeting_room_usage_df.shape[0])

((890, 22), (728, 36))
Unable to merge records: 162

## Data Generation for spatial

### Meeting Rooms

In [0]:
merged_space_data_df_PAR = merged_space_data_df[merged_space_data_df['Campus Code']=='PAR']
merged_em_location_df_PAR = merged_em_location_df[merged_em_location_df['Campus Code']=='PAR']
merged_av_equipment_df_PAR = merged_av_equipment_df[merged_av_equipment_df['Campus Code']=='PAR']
merged_meeting_room_usage_df_PAR = merged_meeting_room_usage_df[merged_meeting_room_usage_df['Campus Code']=='PAR']

In [33]:
# possible meeting rooms
possible_rooms = rm_category_type_df[rm_category_type_df['Room Type'].str.contains("601|629")]
meeting_room_types = possible_rooms['Room Type'].tolist()

# supply of meeting rooms
possible_meeting_rooms_df = merged_space_data_df_PAR[merged_space_data_df_PAR['Room Type'].isin(meeting_room_types)]
possible_meeting_rooms_df.shape

(692, 18)

In [34]:
# Number of staff members data in parkville
merged_em_location_df_PAR.shape

(6505, 19)

In [0]:
# get meeting rooms and employee count per building
gdf1 = possible_meeting_rooms_df.groupby(by=['Building Code','Building Name'], as_index=False).agg({'Room Code':pd.Series.nunique,'Room Capacity':sum})
gdf1 = gdf1.rename(columns={"Room Code": "MR_COUNT", "Room Capacity": "MR_CAP"})

gdf2 = possible_meeting_rooms_df.groupby(by=['Building Code','Building Name','Room Condition 2018'], as_index=False).agg({'Room Code':pd.Series.nunique})
gdf2_f = gdf2[gdf2['Room Condition 2018']=='Excellent']
del gdf2_f['Room Condition 2018']
gdf2_f = gdf2_f.rename(columns={'Room Code':'EXCEL_COUNT'})
gdf2_f.head()
meeting_rooms_gdf_space = pd.merge(gdf1,gdf2_f,on=['Building Code','Building Name'],how='left')
meeting_rooms_gdf_space['LOC_CODE']='PAR;'+meeting_rooms_gdf_space['Building Code']

In [109]:
meeting_rooms_gdf_space[meeting_rooms_gdf_space['MR_COUNT'].isna()]

Empty DataFrame
Columns: [Building Code, Building Name, MR_COUNT, MR_CAP, EXCEL_COUNT, LOC_CODE]
Index: []

In [0]:
meeting_rooms_gdf_space['EXCEL_COUNT'].fillna(0, inplace=True)

In [97]:
meeting_rooms_gdf_space.head()

  Building Code             Building Name  ...  EXCEL_COUNT  LOC_CODE
0           102  DAVID PENINGTON BUILDING  ...          4.0   PAR;102
1           103    NONA LEE SPORTS CENTRE  ...          1.0   PAR;103
2           104     ALAN GILBERT BUILDING  ...         27.0   PAR;104
3           105              FBE BUILDING  ...         17.0   PAR;105
4           106              LAW BUILDING  ...         16.0   PAR;106

[5 rows x 6 columns]

In [106]:
meeting_rooms_gdf_space.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 94 entries, 0 to 93
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Building Code  94 non-null     object
 1   Building Name  94 non-null     object
 2   MR_COUNT       94 non-null     int64
 3   MR_CAP         94 non-null     float64
 4   EXCEL_COUNT    94 non-null     float64
 5   LOC_CODE       94 non-null     object
dtypes: float64(2), int64(1), object(3)
memory usage: 5.1+ KB

In [51]:
meeting_rooms_gdf_space.shape

(94, 5)

In [98]:
emp_gdf = merged_em_location_df_PAR.groupby(by=['Building Code','Building Name'], as_index=False).agg({'Employee Sequential ID':pd.Series.nunique})
emp_gdf = emp_gdf.rename(columns={'Employee Sequential ID':'EMP_COUNT'})
emp_gdf['LOC_CODE']='PAR;'+emp_gdf['Building Code']
emp_gdf.head()

  Building Code             Building Name  EMP_COUNT LOC_CODE
0           102  DAVID PENINGTON BUILDING        261  PAR;102
1           104     ALAN GILBERT BUILDING        329  PAR;104
2           105              FBE BUILDING        261  PAR;105
3           106              LAW BUILDING        358  PAR;106
4           110                  THE SPOT        273  PAR;110

In [53]:
emp_gdf.shape

(84, 3)

In [57]:
av_meeting_rooms_df = merged_av_equipment_df_PAR[merged_av_equipment_df_PAR['Room Type_x'].str.contains('601|629')]
av_meeting_rooms_df.shape

(90, 25)

In [99]:
av_equipment_gdf = av_meeting_rooms_df.groupby(by=['Building Code','Building Name'], as_index=False).agg({'Equipment Code':pd.Series.nunique})
av_equipment_gdf = av_equipment_gdf.rename(columns={'Equipment Code':'EQUIP_COUNT'})
av_equipment_gdf['LOC_CODE']='PAR;'+av_equipment_gdf['Building Code']
av_equipment_gdf.head()

  Building Code               Building Name  EQUIP_COUNT LOC_CODE
0           104       ALAN GILBERT BUILDING            2  PAR;104
1           106                LAW BUILDING            1  PAR;106
2           110                    THE SPOT            9  PAR;110
3           123               BIOSCIENCES 1            1  PAR;123
4           134  ELISABETH MURDOCH BUILDING            1  PAR;134

In [59]:
av_equipment_gdf.shape

(23, 3)

In [100]:
meetings_usage_gdf = merged_meeting_room_usage_df_PAR.groupby(by=['Building Code','Building Name_x'], as_index=False).agg({'Meetings':'sum'})
meetings_usage_gdf = meetings_usage_gdf.rename(columns={'Meetings':'MH_COUNT'})
meetings_usage_gdf['LOC_CODE']='PAR;'+meetings_usage_gdf['Building Code']
meetings_usage_gdf.head()

  Building Code           Building Name_x  MH_COUNT LOC_CODE
0           102  DAVID PENINGTON BUILDING      3465  PAR;102
1           104     ALAN GILBERT BUILDING     19255  PAR;104
2           105              FBE BUILDING      4179  PAR;105
3           106              LAW BUILDING       226  PAR;106
4           110                  THE SPOT      5560  PAR;110

In [66]:
meetings_usage_gdf.shape

(71, 3)

In [0]:
# to CSV
meeting_rooms_gdf_space.to_csv('meeting-rooms-space.csv',index=False)
emp_gdf.to_csv('employee-staff.csv',index=False)
av_equipment_gdf.to_csv('meeting-rooms-av-equipment.csv',index=False)
meetings_usage_gdf.to_csv('meeting-rooms-usage.csv',index=False)

### Student Toilets

In [0]:
merged_space_data_df_PAR = merged_space_data_df[merged_space_data_df['Campus Code']=='PAR']
merged_timetable_df_PAR = merged_timetable_df[merged_timetable_df['Campus Code']=='PAR']

In [69]:
possible_rooms = rm_category_type_df[rm_category_type_df['Room Type Definition'].str.contains("toilet|washroom")]
toilet_room_types = possible_rooms['Room Type'].tolist()

possible_toilets_df = merged_space_data_df_PAR[merged_space_data_df_PAR['Room Type'].isin(toilet_room_types)]
possible_toilets_df.shape

(1217, 18)

In [103]:
toilets_space_df = possible_toilets_df.groupby(by=['Building Code','Building Name'], as_index=False).agg({'Room Capacity':'sum','Room Area m²':'mean'})
toilets_space_df = toilets_space_df.rename(columns={'Room Capacity':'TR_CAP','Room Area m²':'AVG_SIZE'})
toilets_space_df['LOC_CODE']='PAR;'+toilets_space_df['Building Code']
toilets_space_df.head()

  Building Code             Building Name  TR_CAP   AVG_SIZE LOC_CODE
0           101        BEAUREPAIRE CENTRE    12.0  41.282857  PAR;101
1           102  DAVID PENINGTON BUILDING    54.0  10.402143  PAR;102
2           103    NONA LEE SPORTS CENTRE    13.0   7.025556  PAR;103
3           104     ALAN GILBERT BUILDING    93.0  15.487692  PAR;104
4           105              FBE BUILDING   111.0  17.790455  PAR;105

In [74]:
toilets_space_df.shape

(120, 3)

In [104]:
possible_students_df = merged_timetable_df_PAR.groupby(by=['Building Code','Building Name'], as_index=False).agg({'Planned Size':'sum','Class Duration In Minutes':'mean'})
possible_students_df = possible_students_df.rename(columns=
                                                   {'Planned Size':'STU_COUNT',
                                                    'Class Duration In Minutes':'AVG_DUR'})
possible_students_df['LOC_CODE']='PAR;'+possible_students_df['Building Code']
possible_students_df.head()

  Building Code             Building Name  STU_COUNT     AVG_DUR LOC_CODE
0           104     ALAN GILBERT BUILDING   120485.0   83.630406  PAR;104
1           105              FBE BUILDING   178619.0   74.747300  PAR;105
2           106              LAW BUILDING   267723.0  143.841361  PAR;106
3           110                  THE SPOT   488043.0   78.037655  PAR;110
4           113  BALDWIN SPENCER BUILDING    11112.0  102.232620  PAR;113

In [93]:
possible_students_df.shape

(50, 5)

In [0]:
# to CSV
toilets_space_df.to_csv('toilet-facilities-space.csv',index=False)
possible_students_df.to_csv('student-stats.csv',index=False)